body {
    background-color: black;
} 
/*  STANDARD HEADINGS */

.ttl{ 
    color: white;
    font-style: white;
    font-family: TimesNewRoman;
    font-size: 30px;
    width: 80% ;
    margin:auto;
    text-align: center;
}
h2{
    color: white;
    font-style: bold;
    font-family: TimesNewRoman;
    font-size: 30px;
    text-align: center;
}
/*   GENERAL TEXT   */

.my-intro{
    color: blue;
    font-style: bold;
    font-family: TimesNewRoman;
    font-size: 20px;
}
/*  BUTTON STYLE  */

.introbtn{
    background-color: yellow;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    margin: 10px;

}
/*  TABLE STYLE*/

.memblist{
    color: blue;
    font-style: bold;
    font-family: TimesNewRoman;
    font-size: 25px;
    text-align: center;
}
#resptab{
    overflow-x:auto;
}
.tblist
tr:nth-child(even){
    background-color: springgreen; 
}
.tblist 
tr:nth-child(odd){
        background-color: white;  
}

.tblist{ 
    border-collapse: collapse;
    border: 1px solid black;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.tblist tr th{
    text-align: center;
    height: 40px
}
.tblist tr{
    text-align: center;
    height: 30px
} 
.tblist th{
    border-bottom: 1px solid black;
}

.rapper{
  background-color: black;
   padding:5px;
}
@media only screen and (max-width: 600px) {
    .rapper{
        width:100%;
    }
.ttl{
    color: white;
    font-style: bold;
    font-family: TimesNewRoman;
    font-size: 18px;
    text-align: center;
}
    h2{
        color: white;
        font-style: bold;
        font-family: TimesNewRoman;
        font-size: 20px;
        text-align: center;
    }
}
