body{
  box-sizing: border-box;
  background-color: beige;
}

.container{
  display:grid;
  height:100vh;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: .2fr .2fr 1fr 1fr  1fr .2fr;
  grid-gap: .5em;
grid-template-areas: 
"nav nav nav nav"
"main main main main" 
"content1 content2 content2 content3"
"content4 content5 content5 content6"
"content7 content7 content8 content8"
"footer footer footer footer"
}
main{
grid-area: main;
background-color: beige;
color: black;
font-size: 40px;
font-weight:bold;
text-align:center;
margin: auto;
}

nav{
  grid-area:nav;
  background:rgb(5, 5, 0);
  border-style: solid;
  border-width: 0px;
}
/* Style the links inside the navigation bar */
nav a {
  float: left;
  color: #b7f32a;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
nav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
nav a.active {
  background-color: #04AA6D;
  color: white;

}
#content1{
grid-area:content1;
background-color: beige;
}
#content2{
  grid-area:content2;
  background-color: beige;
  padding: 1%;
  color:blue;
  font-size: 25px;
  font-family:'Segoe UI';
}
#content3{
  background-color:beige;
  grid-area:content3;
}
#content4{
  background-color: beige;
  grid-area:content4;
}
#content5{
  background-color: beige;
  grid-area:content5;
  padding: 1%;
  color:blue;
  font-size: 25px;
  font-family:'Segoe UI';
  }
  #content6{
    background-color: beige;
    grid-area:content6;
  }
  #content7{
    background-color: beige;
    grid-area:content7;
    margin: auto;
  }
  #content8{
    background-color:beige;
    grid-area:content8;
    padding: 1%;
    color:blue;
    font-size: 25px;
    font-family:'Segoe UI';
  }
  .img1{
    height:210px;
  }
  .img2{
    height: 210px;
  }
  footer{
    grid-area:footer;
    background-color: white;
    }

@media only screen and (max-width: 1000px) and (min-width: 800px) {
  body {
    background-color: beige;
  }
  footer{
    background-color: red;
  }
  
}

@media only screen and (max-width: 800px) and (min-width: 760px)  {
  body {
    background-color: beige;
  }
}
@media only screen and (max-width: 760px){
  body {  
background-color: beige;
  }

.container {
   grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.2fr .2fr 1fr 1fr 1fr 1fr 1fr 1fr 0.2fr;
  grid-template-areas:
  "main main"
  "nav nav"
  "content1 content3"
  "content2 content2"
  "content4 content6"
  "content5 content5"
  "content7 content7"
  "content8 content8"
  "footer footer";
  grid-gap: .1em;
}
main{
  text-align:center;
  font-size: 30px;
  font-weight:bold;
}
#content1{
  background-color: beige;
  margin-left: 20%;
}

#content2{
  background-color: beige;
  
}

#content3{
  background-color:beige;
  margin-left: 10%;
}

#content4{
  background-color: beige;
  margin-left: 20%;
}

#content6{
  background-color: beige;
  margin-left: 10%;
}

#content7{
  background-color: beige;
  margin: auto;
}
footer{
  background-color: yellow;
}
}